<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet href="static/style.css" type"text/css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}
</head>
<body> 
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Envelope Budget</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li class="active"><a href="/dashboard">Home</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
<div id="content">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>